h1 {
    padding: 10px;
    display: flex;
    flex-direction: row; /* change col */
    justify-content: center; /* change from center to space-betwen */ 
    align-items: center;
    align-items: flex-end;
}

h2 {
    margin: 20px;
}

ul {
    color: maroon;

}

img {
    display: flex;
    flex-direction: row; /* change col */
    justify-content: center; /* change from center to space-betwen */ 
    align-items: center;
    align-items: flex-end;
}